:root {
  --font-size-h1: clamp(2.5rem, 8vw, 18rem);
  --font-size-button: 1rem;
  --button-padding: 12px 24px;
  --button-radius: 8px;
  --button-color: #ffffff;
  --color-h1: rgb(187, 188, 193);
  --button-bg: #2563eb;
  --button-bg-hover: #1d409e;
}

/*
body {
  font-family: sans-serif;
  background-color: hsl(245, 100%, 22%);
  margin: 0;
}
  */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(270deg, #055c38, #36674d, #2a3907, #216c2b);
  background-size: 800% 800%;
  animation: gradientShift 15s ease infinite;
  color: var(--foreground);
  overflow:hidden
}

/* Optional: override link styles globally */
a {
  color: inherit;
  text-decoration: none;
}

/* Fancy gradient animation */
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


h1 {
  color: var(--color-h1);
  font-family: var(--font-dancing), cursive !important;
  font-size: var(--font-size-h1);
  font-weight: bold;
  margin-bottom: 50px;
  margin-top: 0px;
}


button {
  font-size: var(--font-size-button);
  padding: var(--button-padding);
  background-color: var(--button-bg);
  color: var(--button-color);
  border: none;
  border-radius: var(--button-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--button-bg-hover);
}


/* This is a class --> reference it like className="attribution-link" */
.attribution-link {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

