/* src/styles/completeProfile.css */

.complete-profile-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #055c38;
  color: white;
}

.profile-card {
  background: white;
  color: black;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #055c38;
}

.profile-picture-container {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #ccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.profile-picture-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-picture-container img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  object-fit: cover;
  transition: 0.2s;
}

.profile-picture-container:hover {
  opacity: 0.8;
}


.upload-instruction {
  font-size: 0.85rem;
  color: #666;
  margin-bottom: 1.5rem;
}

.input-group {
  width: 100%;
  margin-bottom: 1rem;
}

.input-group label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

.input-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.confirm-button {
  width: 100%;
  padding: 0.7rem;
  background-color: #2563eb;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.confirm-button:hover {
  background-color: #1d409e;
}
